<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      {% for item in items %}
        <h2 class="paragraph-parallax-title">{{ item.content }}</h2>
      {% endfor %}
    </div>
  </div>
</div>