// All web styles for the subtheme.

@import "config/all";
@import "../../../../profiles/contrib/droopler/themes/custom/droopler_theme/scss/style";
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Tenor+Sans&display=swap');

#header {
    background-color: $sunrise-orange-color;
}
header.header {
  .region-primary-menu {
    .region-we-mega-menu {
      .navbar {
        &.navbar-we-mega-menu {
          background-color: unset;
        }
      }
    }
  }
}
.navbar .we-mega-menu-ul .we-mega-menu-li a{
  font-family: 'Tenor Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.paragraph-parallax-image{
    min-height: 50vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.paragraph-parallax-title{
margin: 0;
font-size: 35px;
font-family: 'Inter', sans-serif;
letter-spacing: 8px;
text-transform: uppercase;
padding-bottom: 20px;
padding-top: 20px;
color: $sunrise-red-title-color;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 50px;
padding-bottom: 20px;
}*/

.page-wrapper .paragraph-parallax-title{
  font-size: 35px;
  font-family: 'Tenor Sans', sans-serif;
  color: $sunrise-red-title-color;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
} 
.page-wrapper .paragraph-parallax-text{
  font-family: 'Forum', cursive;
  font-size: 1.3rem;
  color: #140504c7;
  margin-bottom: 50px;
}
footer.site-footer{
  .bottom-footer{
      background-color: unset;
  }
}

.container .footer-cta{
  border-bottom: 1px solid #373636;
}

.cta-content{
  padding-left: 0px;
  padding-right: 0px;
}
.single-cta i {
  color: #fba52b;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  margin-right: 30px;
}

.cta-text h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2px;
  font-family: 'Tenor Sans', sans-serif;
}
footer .region-footer-main .block {
  text-align: unset;
}

.cta-text{
  margin-bottom: 20px;
}
.cta-text span {
  color: #b4a6a6;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 17px;
}

.footer-social-icon {
  text-align: center;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}
.facebook-bg:hover {
  background: #fff;
  color: #3B5998;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.youtube-play-bg {
  background: #DC0049;
}
.youtube-play-bg:hover {
  background: #fff;
  color: #DC0049;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.instagram-bg {
  background: #C0009E;
}

.instagram-bg:hover{
  background: #fff;
  color:#C0009E;
}